<%- include ("./partials/_header") %>


    <div class="subtitle3">
        Ajustes </div>


    <div class="subtitle2">
        <a href="/agregarProveedor/" class="myButton2">Agregar Proveedor</a>
    </div>
    <div class="subtitle2">
        <a href="/agregarDefecto/" class="myButton2">Agregar Defecto</a>
    </div>




    <div class="subtitle2">
        <a href="/agregarMaterial/" class="myButton2">Agregar Material</a>
    </div>


    <div class="subtitle2">
        <a href="/agregarModelo/" class="myButton2">Agregar Modelo</a>
    </div>


    <div class="subtitle2">
        <a href="/agregarPieza/" class="myButton2">Agregar Pieza</a>
    </div>

    <div class="subtitle2">
        <a href="/agregarDefectoOperacion/" class="myButton2">Agregar Defecto a Operación</a>
    </div>
    <div class="subtitle2">
        <a href="/agregarPiezaModelo/" class="myButton2">Agregar Pieza a Modelo</a>
    </div>

    <div class="flex7">
        <a href="/inicio/" class="btn btn-primary" style="margin-right: 17%;">Inicio</a>
    </div>
    </div>





    <%- include ("./partials/_footer") %>