<%- include ("./partials/_header") %>


    <div class="flex">
        <div class="container1">
            <div class="subtitle">
                Inspección de Recepción
            </div>
            <div class="subtitle">
                <a href="/recepcion/" class="myButton">Inspección de Recepción</a>

            </div>

            <div class="subtitle">
                Inspección en Proceso
            </div>

            <div class="subtitle">
                <a href="#" class="myButton">Inspección en Proceso</a>
            </div>
            <div class="subtitle">
                <a href="/defectosProceso/" class="myButton">Defectos en Proceso</a>
            </div>

            <div class="subtitle">
                Inspección Final
            </div>

            <div class="subtitle">
                <a href="/inspeccionFinal/" class="myButton">Crear Reporte</a>
            </div>

        </div>

        <div class="container1">
            <div class="subtitle">
                Producto No Conforme
            </div>

            <div class="subtitle">
                <a href="/altaPNC/" class="myButton">Dar de Alta</a>
            </div>
            <div class="subtitle">
                <a href="/BajaPNC/" class="myButton">Dar de Baja</a>
            </div>


        </div>

    </div>
    <%- include ("./partials/_footer") %>