<%- include ("./partials/_header") %>

    <div class="subtitle3">
        Reporte de Inspección en Proceso</div>
    <form action="/addInspeccionProceso" method="POST">

        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="/inspeccionProceso">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled " href="/escuadradora/">Escuadradora</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="/enchapadora/">Enchapadora</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled " href="/taladro/">Taladro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled " href="/sacabocados/">Sacabocados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled " href="/armado1/">Armado1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled " href="/armado2/">Armado2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled " href="/armado3/">Armado3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled " href="/acabados/">Acabados</a>
                    </li>
                </ul>
            </div>

            <div class="card-body">

                <div class="flexx">


                    <div class="form-group">
                        <input class="form-control" type="text" name="folio" placeholder="Folio" style="width: fit-content;">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="date" name="fecha" placeholder="Fecha" style="width: fit-content; ">
                    </div>
                    <div class="form-group">

                        <select class="form-control" name="hora" style="width: fit-content;">
            <option value="" disabled selected hidden>Hora</option>
            <option value="8:00 AM">8:00 AM</option>
            <option value="10:00 AM">10:00 AM</option>
            <option value="12:00 AM">12:00 AM</option>
            <option value="2:00 PM">2:00 PM</option>
            <option value="4:00 PM">4:00 PM</option>

        </select>

                    </div>
                    <a href="/inicio/" class="btn btn-danger">Salir</a>
                </div>



            </div>
        </div>



        <a class="btn btn-primary" type="submit" style="margin-left: 15%; margin-top: 2%;" onclick="this.parentNode.submit()">
            Iniciar Reporte
        </a>


    </form>






    <%- include ("./partials/_footer") %>