<%- include ("./partials/_header") %>


    <div class="subtitle3">
        Reporte de Inspección Final</div>
    <!-- FORMULARIO-->

    <div class="flex">


        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    <form action="/insFinal/" method="post">
                        <div class="flex4">
                            <div class="form-group">
                                <input class="form-control" type="text" name="folio" placeholder="Folio" style="width: fit-content;">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="date" name="fecha" placeholder="Fecha" style="width: fit-content; margin-left: 10%;">
                            </div>
                        </div>

                        <div class="form-group">
                            <select class="form-control" name="producto" placeholder="Producto">
                            <option value="" disabled selected hidden>Nombre del Producto</option>
                            <% for (var i =0; i < prod.length; i++)  {     %>

                                <option value="<%= prod[i].nombre %>">  <%= prod[i].nombre %> </option>

                                <%  }  %>
                        </select>
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="number" name="lote" placeholder="Tamaño de Lote" style="width: fit-content;">
                        </div>
                        <hr class="my-4">
                        <nav class="navbar navbar-light bg-light">
                            1.- Producto
                            <a class="btn btn-info btn-sm" data-toggle="collapse" href="#collapseProductos" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Collapsar
                              </a>
                        </nav>
                        <div class="collapse" id="collapseProductos">

                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>

                                        <th scope="col">Defectos</th>
                                        <th scope="col">Inspección</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Dimensiones Finales</td>
                                        <td class="flex"><select onchange='sum()' class="form-control form-control-sm" name="dimensiones_Finales" placeholder="Inspeccion" style="width: fit-content; " tagname="Inspeccion">
                                            <option value="OK">OK</option>
                                            <option value="Menor">Menor</option>
                                            <option value="Mayor">Mayor</option>
                                        </select></td>
                                    </tr>
                                    <tr>
                                        <td>Limpieza del Producto</td>
                                        <td class="flex"> <select onchange='sum()' class="form-control form-control-sm" name="limpieza" placeholder="Inspeccion" style="width: fit-content; ">
                                            <option value="OK">OK</option>
                                            <option value="Menor">Menor</option>
                                            <option value="Mayor">Mayor</option>
                                        </select></td>
                                    </tr>
                                    <tr>
                                        <td>Función de puertas y cajones</td>
                                        <td class="flex"><select onchange='sum()' class="form-control form-control-sm" name="funcion" placeholder="Inspeccion" style="width: fit-content; ">
                                            <option value="OK">OK</option>
                                            <option value="Menor">Menor</option>
                                            <option value="Mayor">Mayor</option>
                                        </select></td>
                                    </tr>
                                    <tr>
                                        <td>Color de Melamina</td>
                                        <td class="flex"><select onchange='sum()' class="form-control form-control-sm" name="color_Melamina" placeholder="Inspeccion" style="width: fit-content; ">
                                            <option value="OK">OK</option>
                                            <option value="Menor">Menor</option>
                                            <option value="Mayor">Mayor</option>
                                        </select></td>
                                    </tr>
                                    <tr>
                                        <td>Orientación de Vetas</td>
                                        <td class="flex"><select onchange='sum()' class="form-control form-control-sm" name="orientacion" placeholder="Inspeccion" style="width: fit-content; ">
                                            <option value="OK">OK</option>
                                            <option value="Menor">Menor</option>
                                            <option value="Mayor">Mayor</option>
                                        </select></td>
                                    </tr>
                                    <tr>
                                        <td>Color de Cintilla</td>
                                        <td class="flex"><select onchange='sum()' class="form-control form-control-sm" name="color_Cintilla" placeholder="Inspeccion" style="width: fit-content; ">
                                            <option value="OK">OK</option>
                                            <option value="Menor">Menor</option>
                                            <option value="Mayor">Mayor</option>
                                        </select></td>
                                    </tr>
                                    <tr>
                                        <td>Espesor de Cintilla</td>
                                        <td class="flex">
                                            <select onchange='sum()' class="form-control form-control-sm" name="espesor" placeholder="Inspeccion" style="width: fit-content; ">
                                                <option value="OK">OK</option>
                                                <option value="Menor">Menor</option>
                                                <option value="Mayor">Mayor</option>
                                                </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Colocación de Cintilla</td>
                                        <td class="flex"><select onchange='sum()' class="form-control form-control-sm" name="colocacion" placeholder="Inspeccion" style="width: fit-content; ">
                                            <option value="OK">OK</option>
                                            <option value="Menor">Menor</option>
                                            <option value="Mayor">Mayor</option>
                                        </select></td>
                                    </tr>
                                    <tr>
                                        <td>Descuadre</td>
                                        <td class="flex"><select onchange='sum()' class="form-control form-control-sm" name="descuadre" placeholder="Inspeccion" style="width: fit-content; ">
                                            <option value="OK">OK</option>
                                            <option value="Menor">Menor</option>
                                            <option value="Mayor">Mayor</option>
                                        </select></td>
                                    </tr>
                                    <tr>
                                        <td>Marcas de Pegamento</td>
                                        <td class="flex"><select onchange='sum()' class="form-control form-control-sm" name="marcas" placeholder="Inspeccion" style="width: fit-content; ">
                                            <option value="OK">OK</option>
                                            <option value="Menor">Menor</option>
                                            <option value="Mayor">Mayor</option>
                                        </select></td>
                                    </tr>
                                    <tr>
                                        <td>Despostilles</td>
                                        <td class="flex"><select onchange='sum()' class="form-control form-control-sm" name="despostilles" placeholder="Inspeccion" style="width: fit-content; ">
                                            <option value="OK">OK</option>
                                            <option value="Menor">Menor</option>
                                            <option value="Mayor">Mayor</option>
                                        </select></td>
                                    </tr>
                                    <tr>
                                        <td>Rayaduras</td>
                                        <td class="flex"><select onchange='sum()' class="form-control form-control-sm" name="rayaduras" placeholder="Inspeccion" style="width: fit-content; ">
                                            <option value="OK">OK</option>
                                            <option value="Menor">Menor</option>
                                            <option value="Mayor">Mayor</option>
                                        </select></td>
                                    </tr>
                                    <tr>
                                        <td>Retoques</td>
                                        <td class="flex"><select onchange='sum()' class="form-control form-control-sm" name="retoques" placeholder="Inspeccion" style="width: fit-content; ">
                                            <option value="OK">OK</option>
                                            <option value="Menor">Menor</option>
                                            <option value="Mayor">Mayor</option>
                                        </select></td>
                                    </tr>
                                    <tr>
                                        <td>Pruebas de Resistencia</td>
                                        <td class="flex"><select onchange='sum()' class="form-control form-control-sm" name="pruebas_Resistencia" placeholder="Inspeccion" style="width: fit-content; ">
                                            <option value="OK">OK</option>
                                            <option value="Menor">Menor</option>
                                            <option value="Mayor">Mayor</option>
                                        </select></td>
                                    </tr>
                                    <tr>
                                        <td>Herrajes instalados correctos (bumpers, bisagras, manija, push, y colgadores)</td>
                                        <td class="flex"><select onchange='sum()' class="form-control form-control-sm" name="herrajes_instalados" placeholder="Inspeccion" style="width: fit-content; ">
                                            <option value="OK">OK</option>
                                            <option value="Menor">Menor</option>
                                            <option value="Mayor">Mayor</option>
                                        </select></td>
                                    </tr>
                                    <tr>
                                        <td>Etiquetas de producto</td>
                                        <td class="flex"><select onchange='sum()' class="form-control form-control-sm" name="etiquetas_producto" placeholder="Inspeccion" style="width: fit-content; ">
                                            <option value="OK">OK</option>
                                            <option value="Menor">Menor</option>
                                            <option value="Mayor">Mayor</option>
                                        </select></td>
                                    </tr>
                                    <tr>
                                        <td>Prueba de colgado*</td>
                                        <td class="flex"><select onchange='sum()' class="form-control form-control-sm" name="prueba" placeholder="Inspeccion" style="width: fit-content; ">
                                            <option value="OK">OK</option>
                                            <option value="Menor">Menor</option>
                                            <option value="Mayor">Mayor</option>
                                        </select></td>
                                    </tr>
                                    <tr>
                                        <td>Resane de perforación interna*</td>
                                        <td class="flex"><select onchange='sum()' class="form-control form-control-sm" name="resane" placeholder="Inspeccion" style="width: fit-content; ">
                                            <option value="OK">OK</option>
                                            <option value="Menor">Menor</option>
                                            <option value="Mayor">Mayor</option>
                                        </select></td>
                                    </tr>
                                    <tr>
                                        <td>Cubierta correcta*</td>
                                        <td class="flex"><select onchange='sum()' class="form-control form-control-sm" name="cubierta" placeholder="Inspeccion" style="width: fit-content; ">
                                            <option value="OK">OK</option>
                                            <option value="Menor">Menor</option>
                                            <option value="Mayor">Mayor</option>
                                        </select></td>
                                    </tr>



                                </tbody>
                            </table>
                        </div>
                        <hr class="my-4">
                        <nav class="navbar navbar-light bg-light">
                            2.- Empaque
                            <a class="btn btn-info btn-sm" data-toggle="collapse" href="#collapseEmpaque" role="button" aria-expanded="false" aria-controls="collapseExample">
                                Collapsar
                              </a>
                        </nav>
                        <div class="collapse" id="collapseEmpaque">
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>

                                        <th scope="col">Defectos</th>
                                        <th scope="col">Inspección</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Caja</td>
                                        <td class="flex"><select onchange='sum()' class="form-control form-control-sm" name="caja" placeholder="Inspeccion" style="width: fit-content; ">
                                            <option value="OK">OK</option>
                                            <option value="Menor">Menor</option>
                                            <option value="Mayor">Mayor</option>
                                        </select></td>
                                    </tr>
                                    <tr>
                                        <td>Etiquetas de caja</td>
                                        <td class="flex"><select onchange='sum()' class="form-control form-control-sm" name="etiquetas_caja" placeholder="Inspeccion" style="width: fit-content; ">
                                            <option value="OK">OK</option>
                                            <option value="Menor">Menor</option>
                                            <option value="Mayor">Mayor</option>
                                        </select></td>
                                    </tr>
                                    <tr>
                                        <td>Herrajes en bolsa y componentes sueltos correctos</td>
                                        <td class="flex"><select onchange='sum()' class="form-control form-control-sm" name="herrajes_bolsa" placeholder="Inspeccion" style="width: fit-content; ">
                                            <option value="OK">OK</option>
                                            <option value="Menor">Menor</option>
                                            <option value="Mayor">Mayor</option>
                                        </select></td>
                                    </tr>
                                    <tr>
                                        <td>Manual de instrucciones y garantía</td>
                                        <td class="flex"><select onchange='sum()' class="form-control form-control-sm" name="manual_instrucciones" placeholder="Inspeccion" style="width: fit-content; ">
                                            <option value="OK">OK</option>
                                            <option value="Menor">Menor</option>
                                            <option value="Mayor">Mayor</option>
                                        </select></td>
                                    </tr>
                                    <tr>
                                        <td>Color de Marmol*</td>
                                        <td class="flex"><select onchange='sum()' class="form-control form-control-sm" name="color_Marmol" placeholder="Inspeccion" style="width: fit-content; ">
                                            <option value="OK">OK</option>
                                            <option value="Menor">Menor</option>
                                            <option value="Mayor">Mayor</option>
                                        </select></td>
                                    </tr>
                                    <tr>
                                        <td>Ovalin*</td>
                                        <td class="flex"><select onchange='sum()' class="form-control form-control-sm" name="ovalin" placeholder="Inspeccion" style="width: fit-content; ">
                                            <option value="OK">OK</option>
                                            <option value="Menor">Menor</option>
                                            <option value="Mayor">Mayor</option>
                                        </select></td>
                                    </tr>




                                </tbody>
                            </table>
                        </div>
                        <hr class="my-4">




                        <div class="flex4">


                            <div class="form-group">
                                <textarea class="form-control" id="res" type="text" name="estatus" placeholder="Aceptado" style="height: 40px;" readonly></textarea>
                            </div>
                            <div class="flex7" style="margin-left: 10%;">
                                <div class="form-group" style="margin-top: 7px;">
                                    Total: </div>

                                <div class="form-group">

                                    <textarea id="menor" class="form-control" type="number" name="menor" style="height: 40px; width: 50px; margin-left: 10%;" readonly></textarea>
                                </div>
                                <div class="form-group">

                                    <textarea id="mayor" class="form-control" type="number" name="mayor" style="height: 40px; width: 50px; margin-left: 10%;" readonly></textarea>
                                </div>


                            </div>


                        </div>

                        <div class="form-group">
                            <textarea class="form-control" name="resumen" cols="80" placeholder="Resumen"></textarea>
                        </div>

                        <div class="flex4">
                            <button class="btn btn-primary" type="submit">
                                    Enviar
                            </button>

                            <a class="btn btn-primary" type="submit" href="/inicio" style="margin-left: 10%;">
                                Salir
                         </a>



                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
        function sum() {
            var count = 0;
            var count2 = 0;
            var x = document.getElementsByClassName("form-control");

            for (var i = 0; i < x.length; i++) {
                if (x[i].value == "Menor") {
                    count++;

                }
                if (x[i].value == "Mayor") {
                    count2++;

                }
            }
            document.getElementById("menor").innerHTML = count;
            document.getElementById("mayor").innerHTML = count2;

            if (count > 3) {
                document.getElementById("res").textContent = "Rechazado";
            } else if (count2 > 0) {
                document.getElementById("res").textContent = "Rechazado";
            } else {
                document.getElementById("res").textContent = "Aceptado";
            }

        }
    </script>

    <%- include ("./partials/_footer") %>