<%- include ("./partials/_header") %>

    <div class="flex">


        <div class="col-md-5">
            <div class="card text-center">
                <div class="card-body">
                    <form class="form-signin" action="/registrar" method="POST">
                        <h1 class="h3 mb-3 font-weight-normal">Registar Usuario</h1>
                        <label for="inputEmail" class="sr-only">Email address</label>
                        <input type="username" id="username" name="username" class="form-control" placeholder="Usuario" placeholder="jorge@email.com" autofocus>
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password">
                        <div class="checkbox mb-3">
                        </div>
                        <div class="form-group">

                            <select class="form-control" name="type">
                            <option value="" disabled selected hidden>Tipo de Usuario</option>
                            <option value="Usuario">Usuario</option>
                            <option value="SuperUsuario">SuperUsuario</option>
                        </select>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%- include ("./partials/_footer") %>