<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Register</title>
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/signup.css">
    </head>
    <body class="signup">
        <div class="modal">
            <div class="container">
                <div class="register">
                    <h2>REGISTER FORM</h2>
                </div>
                <div class="names">
                    <div class="labels">
                        <div>
                            <label>First Name</label>
                        </div>
                        <div>
                            <label>Last Name</label>
                        </div>
                    </div>
                    <div class="inputs">
                        <div>
                            <input type="text" id="fName">
                        </div>
                        <div>
                            <input type="text" id="lName">
                        </div>
                    </div>
                </div>
                <div class="email">
                    <div>
                        <label>Your Email</label>
                    </div>
                    <div>
                        <input type="email" id="email">
                    </div>
                </div>
                <div class="passwords">
                    <div class="labels">
                        <div>
                            <label>Password</label>
                        </div>
                        <div>
                            <label>Confirm Password</label>
                        </div>
                    </div>
                    <div class="inputs">
                        <div>
                            <input type="password" id="password">
                        </div>
                        <div>
                            <input type="password" id="confirm">
                        </div>
                    </div>
                </div>
                <div class="button">
                    <button class="registerBtn" type="submit" id="registerBtn">Register</button>
                </div>
            </div>
        </div>
        <script src="/js/signup.js"></script>
    </body>
</html>