<%- include ("./partials/_header") %>


    <div class="subtitle3">
        Ajustes </div>


    <div class="subtitle2">
        <a href="/registrar/" class="myButton2">Agregar Usuario</a>
    </div>

    <div class="subtitle2">
        <a href="#" class="myButton2">Ver Reportes</a>
    </div>







    <%- include ("./partials/_footer") %>