body {
    background-color: grey;
}

.title {
    font-size: 70px;
    margin-left: 40px;
    margin-top: 20px;
    color: #291576;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.subtitle {
    font-size: 30px;
    margin-top: 8%;
    display: flex;
    color: #291576;
    justify-content: center;
}

.subtitle3 {
    font-size: 30px;
    margin-top: 1%;
    display: flex;
    color: #291576;
    justify-content: center;
}

.subtitle2 {
    margin-top: 0.7%;
    display: flex;
    font-size: small;
    color: #291576;
    justify-content: center;
}

.subtitle4 {
    margin-top: 0.7%;
    display: flex;
    font-size: 30px;
    color: #291576;
    margin-bottom: 2%;
    justify-content: center;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.flexx {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.flex2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3%;
    margin-right: 1%;
}

.flex5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1%;
}

.flex6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flex7 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.flex4 {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container1 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.myButton {
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background: linear-gradient(to bottom, #292573 5%, #476e9e 100%);
    background-color: #291576;
    border-radius: 10px;
    border: 1px solid #291576;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    text-align: center;
    width: 300px;
    font-size: 19px;
    padding: 12px 37px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #291576;
}

.myButton2 {
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background: linear-gradient(to bottom, #292573 5%, #476e9e 100%);
    background-color: #291576;
    border-radius: 10px;
    border: 1px solid #291576;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    text-align: center;
    width: 300px;
    font-size: 15px;
    padding: 12px 37px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #291576;
}

.myButton3 {
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background: linear-gradient(to bottom, #292573 5%, #476e9e 100%);
    background-color: #291576;
    border-radius: 10px;
    border: 1px solid #291576;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    text-align: center;
    width: 150px;
    font-size: 19px;
    padding: 12px 37px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #291576;
}

.myButton:hover {
    background: linear-gradient(to bottom, #291576 5%, #291576 100%);
    background-color: #291576;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.myButton2:hover {
    background: linear-gradient(to bottom, #291576 5%, #291576 100%);
    background-color: #291576;
}

.myButton2:active {
    position: relative;
    top: 1px;
}

.myButton3:hover {
    background: linear-gradient(to bottom, #291576 5%, #291576 100%);
    background-color: #291576;
}

.myButton3:active {
    position: relative;
    top: 1px;
}

.complete {
    display: flex;
    flex: 1;
    color: #dddddd;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.separar {
    margin-left: 1%;
}

label {
    margin-top: 3%;
}

input {
    margin-top: 2%;
}

select {
    margin-top: 2%;
}


/* Dropdown Button */

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


/* Dropdown button on hover & focus */

.dropbtn:hover,
.dropbtn:focus {
    background-color: #3e8e41;
}


/* The search field */

#myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}


/* The search field when it gets focus/clicked on */

#myInput:focus {
    outline: 3px solid #ddd;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #f1f1f1
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
}